@use 'base/variables' as v;  //esta es otra opción
@use 'base/mixins' as m;

.proceso-cafe {
    margin-bottom: v.$separacion;
    @include m.tablet { 
        display: flex;
        gap: v.$separacion;
        align-items: center;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
    &:nth-child(even) { //even para que le de estilos a todos los numero pares, odd impares
        .texto {
            order: -1; //para que el texto esté en primer columna aca en los numeros pares
        }
        
    }
    .imagen,
    .texto {
        flex: 1;
    }


    .texto {
        margin-top: 1rem;

        h3{
            margin: 0;
            text-align: left;
            color: v.$primario;

            &::after {
                content: '';
                display: block;
                width: 50%;
                height: 5px;
                background-color: v.$secundario;
            }
        }
    }
}